*{
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    height: 100vh;
    background-color: #b4a1976b;
}

.logo-header {
    width: 114px;
    height: 58px;
    border-radius: 10px;
}

.heading-name-hpl {
    font-size: 50px;
    color: #b11d1d;
    letter-spacing: 3.1px;

}

.header-part {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    gap: 40px;
    padding: 10px;
}

.nav-bar {
    background-color: #3e10105c;
    padding: 14px;
}

.nav-bar ul li {
    list-style: none;
}

.nav-bar ul li a{
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.nav-bar ul li a:hover{
    text-decoration: underline;
    color: rgba(85, 85, 166, 0.61);
}

.nav-bar ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}