* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    height: 100vh;
    background-color: #b4a1976b;
}

.logo-header {
    width: 114px;
    height: 58px;
    border-radius: 10px;
}

.heading-name-hpl {
    font-size: 50px;
    color: #b11d1d;
    letter-spacing: 3.1px;

}

.header-part {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    gap: 40px;
    padding: 10px;
}

.nav-bar {
    background-color: #3e10105c;
    padding: 14px;
}

.nav-bar ul li {
    list-style: none;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.nav-bar ul li a:hover {
    text-decoration: underline;
    color: rgba(85, 85, 166, 0.61);
}

.nav-bar ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* navbar ends here */

/* tournament main part starts from here */

.cards {
    margin: 0 auto;
    max-width: 1000px;
    grid-auto-rows: auto;
    font-family: sans-serif;
    padding-top: 30px;
}

.cards * {
    box-sizing: border-box;
}

.card__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
    border-top: 2px solid #245ab457;
    border-right: 2px solid #245ab457;
    border-left: 2px solid #245ab457;
    border-radius: 12px 12px 0 0;
}

.card__content {
    line-height: 0.5;
    font-size: 0.9em;
    padding: 15px;
    background: #fafafa;
    border-right: 2px solid #245ab457;
    border-left: 2px solid #245ab457;
}

.card__content>p:first-of-type {
    margin-top: 0;
}

.card__content>p:last-of-type {
    margin-bottom: 0;
}

.card__info {
    padding: 30px 16px;
    display: flex;
    align-items: center;
    color: #555555;
    background: #eeeeee;
    font-size: 0.8em;
    border-bottom: 2px solid #245ab457;
    border-right: 2px solid #245ab457;
    border-left: 2px solid #245ab457;
    border-radius: 0 0 12px 12px;
}

.card__info i {
    font-size: 0.9em;
    margin-right: 8px;
}

.card {
    margin: 10px;
}

.card-info-wrp{
    position: relative;
}

.info-ongoing {
   
    background: #bd4233;
    color: #fff;
    padding: 0px 8px;
    position: absolute;
    right: -118%;
    z-index: 100;
    text-transform: uppercase;
    margin-right: 8px;
    font-size: 14px;
    border-radius: 16px;
}

/* responsive */

@media screen and (max-width: 480px) {
    .info-ongoing {
        right: -108%;     
    }
}


@media screen and (max-width: 400px) {
    .info-ongoing {
        right: -70%;
    }
}


@media screen and (max-width: 360px) {
    .info-ongoing {
        right: -50%;
    }
}